:root{
    --main-color: #156b99;
    --secondary-color:#123a54;
    --section1-color:#855ebe;
    --border-color: #383838;
    --card-color: #29aad9;
    --header1-color: #212529;
    --header2-color: #20dad8;
    --header3-color: #4B5758;
    --butt-send-color:#177A9B;
}
.color1 {color: #120f1f;}
.color2 {color: #123a54;}
.color3 {color: #156b99;}
.color4 {color: #20aad9;}
.color5 {color: #20dad8;}
body{
    background-image: url("../img/background.webp");
    
    background-size: 100% 150vh;
}
h1{
    font-size: x-large;
}
.v-header{
    background-color: var(--header1-color);
}
.nv-header{
    background-color: var(--header2-color);
}
main{
    background-color: var(--border-color);
    
}
.plates{
    background-color: var(--section1-color);

}
img{
    width: 50%;
}
.rooms{
    background-color: var(--header3-color);
}
.rooms img{
    width: 100%;
}
img.with-info{
    width: 75%;
}

.card{
    height: 453px;
    width: 18rem;
    background-color:var(--card-color   );
}
.rooms .card{
    height: 453px;
    width: 23rem;
}
a{
    color: yellow;
}
a:hover{
    color: forestgreen;
}
.ing{
    height: 216px;
}
.reservations{
    background-color: var(--main-color);
    
}
.form-group{
    margin: 10px 0;
}
.send{
    background-color: var(--butt-send-color);
    font-size: large;
}
#map {
    height: 400px;

    width: 100%;

  }
.salaPq{
    width: 100%;   
    height: 132px;
    
    overflow: hidden;
}

